* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
}

.center {
  padding-left: calc(50% - 586px);
  padding-right: calc(50% - 586px);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}


.top {
  background: #fff;
}

.header {
  margin-top: 45px;
  margin-bottom: 88px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  font-family: "Gilroy-Bold", sans-serif;
  color: #000;
  font-size: 14px;
  /* font-weight: 400; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 25px;
}

.active {
  font-family: "Gilroy-SemiBold", sans-serif;
  color: #f25822;
}

.content {
  margin-bottom: 162px;
  display: flex;
  gap: 41px;
  align-items: center;
}

.title {
  font-family: "Gilroy-Bold", sans-serif;
  color: #000;
  font-size: 60px;
  /* font-weight: 400; */
  margin-bottom: 17px;
  width: 522px;
}

.text {
  color: #888;
  font-size: 20px;
  /* font-weight: 400; */
  width: 466px;
}

.content__buttons {
  margin-top: 52px;
  display: flex;
  gap: 72px;
  align-items: center;
}

.button {
  font-family: "Gilroy-Bold", sans-serif;
  border-radius: 50px;
  border: 0;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-size: 15px;
  /* font-weight: 400; */
  width: 140px;
  height: 50px;
  flex-shrink: 0;
}

.button:hover {
  cursor: pointer;
}

.link {
  color: #aaa;
  font-size: 15px;
  /* font-weight: 400; */
}

.logos {
  padding-top: 97px;
  padding-bottom: 96px;
  display: flex;
  gap: 48px;
}

.skills {
  display: grid;
  gap: 59px;
  grid-template-columns: repeat(3, 370px);
}

.skill__card {
  background: #fff;
  width: 370px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 40px;
  padding-bottom: 25px;
  display: grid;
  justify-items: start;
  padding-left: 29px;
}

.skill__card__active {
  background: #fff;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.skill__title {
  margin-top: 25px;
  margin-bottom: 17px;
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 24px;
}

.skill_text {
  color: #666;
  font-family: "Gilroy-Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px; /* 22.5px */
  width: 310px;
}

.skill__link {
  margin-top: 25px;
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 11px;
  line-height: 16.5px; /* 16.5px */
}

.advantages {
  background: #fafafa;
  padding-top: 92px;
  padding-bottom: 100px;
}

.advantage__title {
  margin-bottom: 19px;
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}

.advantage__text {
  color: #666;
  width: 682px;
  text-align: center;
  font-family: "Gilroy-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.advantage__content {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 30px;
}

.advantage__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.advantage__card__active {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}
.advantage__card__title {
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 22px;
}

.advantage__card__text {
  color: #aaa;
  text-align: center;
  font-family: "Gilroy-Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  margin-bottom: 39px;
}
.advantage__button {
  border: 0;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-family: "Gilroy-Bold";
  font-size: 15px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 35px;
  padding-right: 36px;
  margin-bottom: 50px;
}

.right__arrow {
  margin-left: 6px;
}
